#wrapper{
 background-color:#fff;
}
p{
  color: #727272
}
.white{
  color:#fff !important;
}

.about-feature-col span {
	background-color: #EC3C2A;
}
.about-feature-col span > i{
    color: #fff;
}

ul.contact-top li {
    color: #fff;
}
ul.contact-top li i {
   color:#EC3C2A;
}
.pagetitle-separator {
    background: url("../images/divider_light_red.png") no-repeat;
}
/*--------------- Menu-css------------- */ 
.header-section{
  background-color: #060c17;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.site-logo h2 a {
	color:#fff;
}
/*----Top Search Box-------*/
.input-group > .form-control {
	background-color:#fff;
}
.input-group > .input-group-addon {
    background-color: #fff;
    color: #202020;
}
.input-group > .input-group-addon {
    color:#EC3C2A;
}
.navbar {
	border-top: 2px solid #EC3C2A!important;
	border-left: 2px solid #EC3C2A!important;
	border-right: 2px solid #EC3C2A!important;
	background-color:#fff !important;
}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
    border-right: 1px solid #ddd;
	color:#060c17 !important;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#fff !important;
	background-color:#EC3C2A	 !important;
	border-right: 1px solid #EC3C2A	;
}
/*-------Dropdown Menus & Submenus Css------*/
.dropdown-menu {
	background-color: #2f3338;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);	
}
.dropdown-menu > li > a {
	color: #fff !important;
	background-color: #060c17;
    border-bottom: 1px solid #101010 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color:#fff !important;
    background-color:#EC3C2A	 !important
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color:#fff !important;
   background-color:#EC3C2A	 !important;
   border-right: 1px solid #EC3C2A	;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
   color:#fff !important;
   background-color:#EC3C2A	 !important
}

/*------Main Slider-----------------------------------*/
.carousel-caption p{
 color:#fff;
}

/* Direction Nav */

.carou-direction-nav a {
	background-color:rgba(0,0,0, 0.7);
}

.carou-direction-nav :hover .carou-prev {  background: #EC3C2A;}
.carou-direction-nav :hover .carou-next {  background: #EC3C2A;}
.carou-direction-nav :hover .carou-next:hover, 
.carou-direction-nav :hover .carou-prev:hover {
	 color:#fff !important;
}
.carou-direction-nav a:before {
	color:#fff;
}	
/*--Button--------*/
.main-btn {

	border: 2px solid #EC3C2A;
	background-color:#EC3C2A;
	box-shadow: 0 3px 0 #de1e0a;
    color: #fff;
}

.main-btn:hover {
    border: 2px solid #de1e0a;
	background-color:#de1e0a;
    color: #fff;
}
/*-------------Servies-------------------------------*/
.home_services {
    border: 1px solid rgba(15, 15, 15, 0.07);
    background-color: rgba(15, 15, 15, 0.01);

}
.home_services h3 {
	border-bottom:1px solid rgba(15, 15, 15, 0.07);
}
.home_services h3 > a{
    color:#202020;
}
.home_services i {
    color:#EC3C2A;
}
.home-gallery-col {
	border-bottom: 3px solid #EC3C2A;
}
.home-gallery-img {
    
}
.home-gallery-details {
	/* border-left: 1px solid #EC3C2A;
    border-right: 1px solid #EC3C2A; */
}
.home-gallery-col .home-gallery-details h3 a {
	color:#303030;
}
.gallery-showcase-overlay {
	background: #000000;
}

.home-gallery-img .gallery-showcase-icons a {
	color:#000;
    background:#fff;
	border-bottom:3px solid #eee;
}

.home-gallery-col:hover .home-gallery-details h3 a{
	color:#EC3C2A;
}

/*--------------Page Title Section---------------------------------*/
.page-title-section {
	background: url("../images/bg-1.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
}
.page-title-section .overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
/*----------About page----------------------------------------*/
.about-section h2{
    color: #060c17;
}
.about-section p{
    color: #929292;
}
.our-teacher .box-container h3{
	color: #eab830;
}
.our-teacher .box-container span{
	color:#ef4836;
}
.our-teacher .box-container .read-more{
	color:#ef4836;
}
.service-showcase-overlay {
	background: #000000;
   
}

.teacher-image .service-showcase-icons a {
	color:#fff;
}
.social-icon a {
	background-color:#eee;
	border:1px solid #eee;	
}
.social-icon a i{
	color:#060c17;
}
.social-icon  i:hover {
     color:#060c17 !important;
}
.social-icon a:hover {
    color:#060c17 !important;
    background-color: #eee !important;
}	
.teamdesc {
    background-color: #eae9e9;
}
.teamdesc p{
    color: #545454;
}

/*------------Gallery  Page--------------------------------------------*/

/*-------------Contact Page-------------------------------------------*/

p.your-para {
    color: #888;
}
.contact-grid input[type="text"], .contact-grid textarea {
  background: #fff;
  border: 1px solid #DADADA;
}

p.sed-para{
  color: #303030;
}
p.para1{
  color: #555;
}
.address-more p, .address-left p{
  color: #555;
}
.address-left p a {
  color: #555;
}
.find {
} 
.send input[type="submit"] {
  background:#020202;
  color: #fff;
}
.send input[type="submit"]:hover {
  background:#2ad2c9;
}

/*------------------Footer----------------------------------------*/
.footer {
  background-color: #060c17;
  color: #fff;
}

.footer-widget h4{
  color:#fff;

}
.footer-widget p{
  color:#d1d1d1;
}
.footer-widget ul li a {
    color: #d1d1d1;
}
.footer-widget .tagcloud a { background-color:#fff; }
/*blog post*/

.footer-blog-post h3 a {
	color:#eee;
}
.footer-blog-post span {
    color: #d1d1d1;
}
.contact_link a {
    color: #ccc;
}
.contact_link a i {
	color:#fff;
}
.footer-social-icon a i{
	color: #fff;
}
.facebook:hover{
	background:#3b5998;
}
.twitter:hover {
	background:#4099FF;
}
.skype:hover {
  background:#00aff0;
}
.google-plus:hover {
  background:#d34836;
}
.footer-bottom{
   background-color: #040914;
}
/*---------Callout Section-----------------------------*/
/* .callout-section {
    background: url("../images/bg-2.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
} */
.testimonial-area {
    background: url("../images/bg-3.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0) !important;
}
.callout-section .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);

}

/*---------------------latest-news-----------------*/
.course-scroll-btn li {
	background: #060c17;
	color: #ffffff;
}
.course-scroll-btn li:hover {
background-color:#EC3C2A
}
.course-scroll-btn li a {
	color: #ffffff;
}
.course-scroll-btn li a:hover {
	color: #ffffff;
} 
/*--------Blog Page--------------------------------------------------*/
/* .blog-section{
  background-color:#fff;
} */

/*--------Sidebar--------------------------*/

.sm-sidebar-widget { background-color: #eee; border: 1px solid #eee;  }
.sm-widget-title { 
background-color:#060c17; 
border-right:3px solid #EC3C2A; }
.sm-widget-title h3 {
    color: #ffffff;
}
/*Sidebar Search*/
.sm-sidebar-widget > .input-group { position: relative; display: block; }
.sm-sidebar-widget > .input-group > .form-control {
    border:1px solid #eee;
}

/*Sidebar Latest Post*/
.sm-sidebar-post {
border-bottom: 1px dotted #c5d1dc; 
}
.sm-sidebar-post h4 {
	color: #0f0f16;
}
.sm-sidebar-post h4 a { color: #0f0f16;}
.sm-sidebar-post p {
	color: #64646d;
}
.sm-sidebar-post:hover h4 a { color: #EC3C2A; }
.sm-sidebar-post-area img {
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
}
.sm-sidebar-post:hover .sm-sidebar-post-area img { opacity: 0.7px; }
/*Sidebar Links*/
ul.post-content{ margin-bottom: 0px; list-style: none outside none; padding: 0; }
ul.post-content li {
	display: block;
	border-bottom: 1px dotted #c5d1dc;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	letter-spacing: 0.8px;
	margin-right: 0px;
	padding-top: 12px;
	vertical-align: top;
	padding-bottom: 12px;
}

ul.post-content li a { color: #64646d; }
ul.post-content li:hover a { color: #EC3C2A; }
ul.post-content > li > a:before {
	color:#EC3C2A;
}
/*Sidebar Tags*/

.sm-sidebar-widget-tags a {
    border: 1px solid #EC3C2A;
    color: #060C17;
	}
.sm-sidebar-widget-tags a:hover { 
background-color: #EC3C2A; border: 1px solid #EC3C2A; color: #ffffff; }

/*---Scroll Top-----*/	
.hc_scrollup {
	background: #EC3C2A;
}
.hc_scrollup i {
    color:#fff;
}
.comment_title h3 {
	color: #121212;
	border-bottom: 1px solid #E9E9E9;
}
.comment_title h3 > i {
	color:#ccc;
}
.comment_img {
	border:2px solid #eee;
}
.comment_detail {
	border: 2px solid #ddd;
}
.comment_detail p{
	color:#6a6a6a;
}
.comment_date{
   color:#b3b3b3;
}
.reply a {
    color: #EC3C2A;
}
.comment_form_section h2 {
	color: #121212;
    border-bottom: 1px solid #E0E0E0;
}
.comment_form_section h2 > i {
	color:#ccc;
}
.con_input_control {
	background-color: #FFFFFF;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}
.con_textarea_control {
    background-color: #FFFFFF;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
}
.con_input_control:focus, .con_textarea_control:focus {
  border-color: #f8504b;
  -webkit-box-shadow: inset 0 0px 0px #f8504b, 0 0 5px #f8504b;
          box-shadow: inset 0 0px 0px #f8504b, 0 0 5px #f8504b;
}
.blog-page-section{
  background-color:#eee;
}
.blog-area {
	background-color: #eee;
}
.home-blog-section .blog-area {
	box-shadow: 0 2px 6px rgba(0,0,0,0.4) !important;
}
.blog-detail-section {
	background-color: #3c3f49;
}
.blog-post-date {
	background-color: #FFFFFF;
}
.blog-post-date span.date {
	background-color: #060C17;
	border-left: 2px solid #EC3C2A;
    color: #FFFFFF;
}
.blog-post-date span.comment {
	color: #2a2c33;
}
.blog-post-date span.comment > i {
	color: #00c2a9;
}
.blog-post-title-wrapper h2 {
	color: #060C17;
}
.blog-post-title-wrapper h2 a{
	color: #64646d;
}
.blog-post-title-wrapper h2 a:hover {
	color: #EC3C2A;
}
.blog-post-title-wrapper p, .blog-post-title-wrapper-full p {
	color: #64646d;
}
.blog-post-detail {
	color:#64646d;
	border-bottom: 1px dotted #64646d;
}
.blog-post-detail a {
	color: #64646d;
}
.blog-post-detail a:hover {
	color: #EC3C2A;
}
.blog-post-detail a > i {
   color:#060C17;
}
.blog-pagination a:hover, .blog-pagination a.active {
    background-color: #EC3C2A;
    border-bottom:2px solid #de1e0a;
    color: #FFFFFF;
}
.blog-pagination a {
    background-color:#060c17;
    color: #FFFFFF;
	border-bottom:2px solid #040914;
}
.home-blog-title-wrapper h2 {
	color: #060C17;
}
.home-blog-title-wrapper h2 a{
	color: #64646d;
}
.home-blog-title-wrapper h2 a:hover {
	color: #EC3C2A;
}

.home-blog-title-wrapper p {
	color: #64646d;
}
/*-------------Testimonial---------------------------------------*/
.testi-img img{
	border:2px solid #eee;
}
/* Changes the color of the indicators */

#testimonial .carousel-indicators .active {
  background: #fff !important;
}
#testimonial p{
	color:#fff; 
}

#testimonial small{
	color:#ccc;
}
#testimonial h6{
	color:#fff;
}
/*-----pager------*/
.testi-pager .testi-pagi li {
	border:1px solid #e4e4e4 !important;
	transition: all 0.3s ease-in-out 0s;
}
.top-breadcrumb > li a {
    color: #ffffff;
}
.top-breadcrumb > li.active a {
    color: #EC3C2A;
}
.top-breadcrumb > li + li:before {
	color: #fff;
}
/*-------Gallery Filter Tabs----------------------*/
.gallery-tabs {
    background-color: #EC3C2A;
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
.gallery-tabs li a {
    border:1px solid #EC3C2A;
    color: #fff;
}
.gallery-tabs li.active > a, .gallery-tabs li > a:hover {
    color: #fff;
	border:1px solid #de1e0a;
	background-color: #de1e0a;
}
/* Photo Box css */
.pbThumbs li.active a img {
    border-color: #EC3C2A !important;
}
#pbCloseBtn:hover:before{ padding:15px 10px 24px 24px; background:#EC3C2A !important; }

/* Default css */
blockquote {
    border-left: 5px solid #EC3C2A!important;
}
.blog-post-title-wrapper a:hover { color:#EC3C2A; } 

#calendar_wrap a {
    color: #EC3C2A !important;
}

ul.post-content li a:before {
    color: #EC3C2A !important;
}

.tagcloud a {
    border: 1px solid #EC3C2A;
}
.tagcloud a:hover
{
	background-color: #EC3C2A!important;
	color: #fff!important;
}
code {
    color: #EC3C2A!important;
}

/* Footer Css */

.copyright a { color:#fff !important; }

.copyright a:hover { color:#EC3C2A !important; }

/* ============= Single-post Na-Links css ============ */

.site-nav-previous, .nav-previous a
{ color:#64646d !important; }

.site-nav-previous, .nav-previous a:hover
{ color:#EC3C2A !important; transition: all .3s ease 0s; }

.site-nav-next, .nav-next a 
{ color:#64646d !important; }

.site-nav-next, .nav-next a:hover { color:#EC3C2A !important; transition: all .3s ease 0s; }

.port_error_404 h4 {
    color: #EC3C2A;
}

/* Vartical Tabs */
.vertical-tabs li a {
	background-color:#EC3C2A;
    border:1px solid #a0ce4e;
    color: #fff;
}
.vertical-tabs li.active > a, .vertical-tabs li > a:hover {
    color: #fff;
	border:1px solid #83AB3D;
	background-color:#EC3C2A;
	}