<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /proveg/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /proveg/index.php [L]
</IfModule>
